apiVersion: v1
kind: Secret
metadata:
  name: django-secrets
  labels:
    app: sample-python-app
    managed-by: ansible
type: Opaque
stringData:
  DJANGO_SECRET_KEY: {{ django_secret_key | to_json }}
